<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>
    <script src="javascripts/jquery.js"></script>
    <script src="javascripts/script.js"></script>
</head>
<body>
<div class="jumbotron-fluid">
    <div class="container">
        <div class="row">
            <h1 class="display-3"><%= title %></h1>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="form-control-label" for="url">Enter url to be shortened</label>
                <input type="text" class="form-control-warning" id="url" placeholder="Enter a valid url"/>
                <button type="button" class="btn btn-primary" id="go">Go!</button>
            </div>
        </div>
    </div>
</body>
</html>
